<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <springProperty name="LOG_PATH" scope="context" source="logging.path" defaultValue="logs"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %-40.40logger{39} : %msg%n" />
    <property name="LOG_PATTERN_MQTT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %-40.40logger{39} : %msg" />

    <springProperty name="LOG_MQTT_BROKERURL" scope="context" source="logging.mqtt.brokerUrl" defaultValue="ws://emqx:8083/mqtt"/>
    <springProperty name="LOG_MQTT_TOPIC" scope="context" source="logging.mqtt.topic" defaultValue="ibiz-service-runner-log"/>
    <springProperty name="LOG_MQTT_CLIENTID" scope="context" source="logging.mqtt.clientId" defaultValue="ibiz-service-runner"/>

    <springProperty name="LOG_STOP_WORDS" scope="context" source="logging.stopWords" defaultValue="POST[/log]" />

    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="LOG_PATTERN2" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([${LOG_LEVEL_PATTERN:-%5p}]) %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

    <!-- 控制台输出 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 过滤日志输出配置 -->
        <filter class="cn.ibizlab.runner.servicerunner.appender.LogStopWordsFilter" >
            <stopWords>${LOG_STOP_WORDS}</stopWords>
        </filter>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/api.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
            <!--大小-->
            <MaxFileSize>100MB</MaxFileSize>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!-- 过滤日志输出配置 -->
        <filter class="cn.ibizlab.runner.servicerunner.appender.LogStopWordsFilter" >
            <stopWords>${LOG_STOP_WORDS}</stopWords>
        </filter>
    </appender>
    <!-- MQTT增强 -->
    <appender name="MQTT" class="cn.ibizlab.runner.servicerunner.appender.LogbackMqttAppender">
        <brokerUrl>${LOG_MQTT_BROKERURL}</brokerUrl>
        <topic>${LOG_MQTT_TOPIC}</topic>
        <clientId>${LOG_MQTT_CLIENTID}</clientId>
        <encoder>
            <pattern>${LOG_PATTERN_MQTT}</pattern>
        </encoder>
        <!-- 过滤日志输出配置 -->
        <filter class="cn.ibizlab.runner.servicerunner.appender.LogStopWordsFilter" >
            <stopWords>${LOG_STOP_WORDS}</stopWords>
        </filter>
    </appender>
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="MQTT" />
        <appender-ref ref="file" />
    </root>
</configuration>
